python/__pycache__
kraken-workspace.code-workspace
python/data.txt
python/log.txt
python/paths.txt
python/scraps.txt
python/testprev.txt
python/tests.txt
python/tests2.txt
python/tests3.txt
php/.vscode
php/data.txt
php/keys.txt
php/log.txt
php/results.txt
